* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: radial-gradient(circle, rgb(255, 255, 255) 70%, rgb(243, 243, 243) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 750ms;
  transition-delay: 0;
}

.change-color-btn {
  width: 160px;
  height: 160px;
  background: white;
  border-radius: 100%;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  position: relative;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
.change-color-btn:hover {
  transform: translateY(-5px);
}
.change-color-btn img {
  max-width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}