@import 'reset';

body {
  height: 100vh;
  background-color: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 70%,
    rgba(243, 243, 243, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 750ms;
  transition-delay: 0;
}

.change-color-btn {
  width: 160px;
  height: 160px;
  background: white;
  border-radius: 100%;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  position: relative;
  cursor: pointer;
  transition: all 0.25s ease-out;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    max-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
}
